#logo {
  margin-right: 5px;
  margin-bottom: 5px;
}

.nav-pills {
  margin-top: 15px;
}

.pad-top-sm {
  padding-top: 10px;
}

.navbar-toggle {
  margin-top: 17px;
}
a:hover{
    
    cursor: pointer;
}