*{
	font-family: 'Exo', Palatino Linotype, SanSerif;
}
header{
	text-align: center;
	font-size: 80px;
	font-family: 'Exo', SanSerif;
	letter-spacing: 0.1em;
	letter-spacing: -1px;
	background-color: #333333;
    background-image: linear-gradient(to bottom, #333333, #000000);
	color: #CC6600;
	font-weight: meddium;
}

#meetinginfo{
	margin-right: 550px;
	color: white;
	font-weight: bold;
}
#meetinginfo:Hover{
		background-color: #000000;
	    box-shadow: 0 0 10px #525252;
}
#githubhyperlink{
	margin-top: 50px;
}
#headblock{
	background-color: #000000;
	opacity: .9;
	margin-top: -10px;
	margin-right: -8px;
	margin-left: -10px;
	height: 125px;
}
#newmember{
	margin-top: -17px;
	background-color: #333333;
    background-image: linear-gradient(to bottom, #333333, #000000);
	text-align:right;
	margin-right: -8px;
	margin-left: -10px;
}
#newmemberbanner{
	text-align: center;
}
#toptable{
	margin-top: 50px;
}
#clubmember{
	color: black;
	font-weight: bold;
	text-align: center;
}
#ttheader{
	color: white;
	font-weight: bold;
	background-color: #333333;
    background-image: linear-gradient(to bottom, #333333, #000000);
}

#vision{
	text-align: center;
	color: black;
	font-weight: bold;
}
#hide{
	text-align: center;

}
#bottombutton{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	background-color: #333333;
    background-image: linear-gradient(to bottom, #333333, #000000);
    border-color: #262626;
    border-image: none;
    border-radius: 0.3em;
    border-style: solid;
    border-width: 1px 1px 4px;
    color: white;
    display: inline-block;
    margin: 0 1.5em;
    padding: 0.2em 0;
    position: relative;
    text-decoration: none;
    text-shadow: 0 2px 0 #262626;
    transition: all 0.1s ease-out 0s;
    width: 10em;
	height: 30px;
	opacity: 0.9;
	margin-top: 50px;
}
#bottombutton:Hover{
	background-color: #000000;
	box-shadow: 0 0 15px #000000;
}
#banner{
	color: #3366ff;
	font-family: 'Exo', san-serif;
}
#visionstatement{
	text-align: center;
	position:center;
	line-height: 0.8em;
}
body{
	background-color: #ECECEC;

}
button{
	color: black;
}

table{
	position: center;
}
a{
	text-align: center;
	text-decoration: none;
}

.headbutton{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	background-color: #333333;
    background-image: linear-gradient(to bottom, #333333, #000000);
    border-color: #262626;
    border-image: none;
    border-radius: 0.3em;
    border-style: solid;
    border-width: 1px 1px 4px;
    color: white;
    display: inline-block;
    margin: 0 1.5em;
    padding: 0.2em 0;
    position: relative;
    text-decoration: none;
    text-shadow: 0 2px 0 #262626;
    transition: all 0.1s ease-out 0s;
    width: 10em;
	height: 30px;
	opacity: 0.9;
	font-weight: bold;
}
.headbutton:Hover{
	background-color: #000000;
	box-shadow: 0 0 10px #525252;
}
.bannermeetinginfo{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	background-color: #333333;
    background-image: linear-gradient(to bottom, #333333, #000000);
    border-color: #262626;
    border-image: none;
    border-radius: 0.3em;
    border-style: solid;
    border-width: 1px 1px 4px;
    color: white;
    display: inline-block;
    margin: 0 1.5em;
    padding: 0.2em 0;
    position: relative;
    text-decoration: none;
    text-shadow: 0 2px 0 #262626;
    transition: all 0.1s ease-out 0s;
    width: 10em;
	height: 30px;
	opacity: 0.9;
	margin-right: -10px;
	font-weight: bold;
}

.bannermeetinginfo:Hover{
	background-color: #000000;
	box-shadow: 0 0 10px #525252;
}

.bannercontactinfo{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	background-color: #333333;
    background-image: linear-gradient(to bottom, #333333, #000000);
    border-color: #262626;
    border-image: none;
    border-radius: 0.3em;
    border-style: solid;
    border-width: 1px 1px 4px;
    color: white;
    display: inline-block;
    margin: 0 1.5em;
    padding: 0.2em 0;
    position: relative;
    text-decoration: none;
    text-shadow: 0 2px 0 #262626;
    transition: all 0.1s ease-out 0s;
    width: 10em;
	height: 30px;
	opacity: 0.9;
	margin-right: 550px;
	font-weight: bold;

}
.bannercontactinfo:Hover{
	background-color: #000000;
	box-shadow: 0 0 10px #525252;
}

.leftcolumn{
	height: 850px;
	width: 160px;
	background-color: #7A7A7A;
	position: absolute;
	margin-left: -10px;
	margin-top: -700px;

}
.rightcolumn{
	height: 850px;
	width: 160px;
	background-color: #7A7A7A;
	position: absolute;
	margin-left: 1181px;
	margin-top: -700px;

}


              
